@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome To Rhodes Island Specialized Academy CRUD Interface</h1>
</div>

<div class="image-center">
    <img src="https://ih0.redbubble.net/image.1510975352.0667/raf,360x360,075,t,fafafa:ca443f4786.jpg" />
</div>

<div>
    <h2>Website Functionalities:</h2>
    <p>
        <ul>
            <li>Add Operator Student</li>
            <li>View Operator Student Files</li>
            <li>Update Operator Student Files</li>
            <li>Delete Operator Students</li>
        </ul>
    </p>
</div>


<div>
    <h2> Get Started</h2>
    <ul>
        <li><button>Add Operator Student</button></li>
        <li><button>View Operator Student Files</button></li>
        <li><button>Update Operator Student Files</button></li>
        <li><button>Delete Operator Student Files</button></li>
    </ul>
</div>




<div> 
    <p class="text-center">Developer is pogi btw</p>
</div>