


<div> 
<h1>Rhodes Island Specialized Academy Privacy Policy</h1>
    <h3>Effective Date: March 22, 2025</h3>
    <p>
        Rhodes Island Specialized Academy ("we," "our," or "the Academy") values your privacy and is committed to protecting your personal information.
        This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website or interact with our services. 
        By accessing or using our website and services, you agree to the terms outlined in this Privacy Policy.
    </p>

</div>